<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="footer-inner">
        <div class="footer-inner-left pull-left">
          <a href="http://twitter.com/BrimApp"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="footer-inner-right pull-right">
          <p>&copy; Brim</p>
        </div>
      </div>
    </div>
  </div>
</div>