{{!-- landing-thankyou --}}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <section class="main-content-thankyou">
        {{#if emailExists}}
          <h1>We already have your email with us :)</h1>
        {{else}}
          <h1>We are pleased to have you on board :)</h1>
        {{/if}}
        <p>
          Thank you for your interest in our product. We shall alert you once we are ready.
          Check out our thank you note on your email and also you may follow us on 
          <a href="https://twitter.com/BrimApp">twitter</a> for updates.
        </p>
      </section>
    </div>
  </div>
</div>