<div class="container">
  <div class="row">
    <div class="col-md-12">
      <header class="main-header">
        <h1>Plans and Pricing</h1>
      </header>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      
      <div class="prices">
        <div class="price-label">
          <section class="price-tag">
            <h2>Starter</h2>
            <p>
              <span class="currency">$</span>
              <span class="price">5</span>
              <span class="terms">/user/mo</span>
            </p>
            <p><span class="em">Who?</span> startup team</p>
          </section>
        </div>
        <div class="price-details">
          <p>max <span class="label label-warning">3</span> users</p>
        </div>
        <div class="cta">
          <a href="/choose">Choose Plan</a>
        </div>
      </div>
      
      <div class="prices">
        <div class="price-label">
          <section class="price-tag">
            <h2>Standard</h2>
            <p>
              <span class="currency">$</span>
              <span class="price">15</span>
              <span class="terms">/user/mo</span>
            </p>
            <p><span class="em">Who?</span> teams of any size</p>
          </section>
        </div>
        <div class="price-details">
          <p><span class="label label-warning">unlimited</span> users</p>
        </div>
        <div class="cta">
          <a href="/choose">Choose Plan</a>
        </div>
      </div>
    </div>

  </div>
</div>