<div class="container">
  <div class="row">
    <div class="col-md-12">
      <header class="main-header">
        <h1>
          Messaging and collaboration tool for better customer service
        </h1>
      </header>

      <section class="main-content">
        <p>
          Brim captures email support requests from your customers, easens the management of your team's response to these requests and helps improves on your customer satisfaction and happiness.
        </p>

        <ol class="numbered-list">
          <li>
            <span class="em">Connect</span> your support email account(s) to Brim.
          </li>
          <li>
            Incoming email is registered as new support tickets and is <span class="em">visible</span> to all team members with access to your Brim account. No need to cc and forward emails or such crappy workflow.
          </li>
          <li>
            Either automatically or manually <span class="em">assign</span> open tickets to your team members. Also track progress on resolving open tickets.
          </li>
          <li>
            Understand your customers better through real <span class="em">data</span> on Brim. Use this data to inform your decisions.
          </li>
          <li>
            Leverage on your team's <span class="em">knowledge</span> and experience.
          </li>
        </ol>

        <div class="arrow">
          <img src="/img/arrow.png" alt="arrow pointing down" width="36" height="38">
        </div>
      </section>
    </div>

    <div class="col-md-6 col-md-offset-3">
      <div class="btn-holder">
        <a href="/plans" class="btn btn-lg btn-brim-orange">Plans &amp; Pricing</a>
      </div>
    </div>
  </div>
</div>