<div class="container">
  <div class="row">
    <div class="col-md-12">
      <header class="main-header">
        <h1>
          A helpdesk software that gives you a better customer service work flow
        </h1>
      </header>

      <section class="main-content">
        <p>
          <span class="brand-inline">Brim</span> is designed to capture all your customer support requests, 
          help you manage how your team responds to these requests and ensure your customers
          are satisfied with the support you offer them.
        </p>

        <p>
          It affords you a better communication flow as you solve customer issues through
          efficient messaging and enhances collaboration amongst your team members with focus on 
          increased productivity.
        </p>

        <ol>
          <li><span class="list-stub"></span> How effectively do you engage your customers?</li>
          <li><span class="list-stub"></span> Is your team well coordinated, efficient and swift in their response?</li>
          <li><span class="list-stub"></span> How do you optimize and leverage on the knowledge base within your team?</li>
        </ol>

        <p>
          Lots of questions, but do they ring a bell? Then, <span class="brand-inline">Brim</span> is a fit for you especially if you either serve internal customers (e.g IT viz other departments) or external customers.
          Or perhaps, you are a small company and would like to leverage on the power of this tool.
        </p>

        <p>
          We seek to help you answer these sort of questions effortlessly. If you would like us to 
          send you a reminder when we are ready, please put your email in below:
        </p>

        <!-- <blockquote>
          A happy customer sells
        </blockquote> -->
      </section>
    </div>

    <div class="col-md-6 col-md-offset-3">
      <form action="#" method="post" role="form" class="form-inline form-landing-page">
        <div class="form-group col-xs-8">
          <label for="email" class="sr-only">Email</label>
          <input type="email" name="email" id="email" class="form-control" placeholder="Email">
        </div>
        <button type="submit" class="btn btn-brim">Remind me</button>
      </form>
    </div>
  </div>
</div>