@import 'btsp.min.css'

// font-face used
@font-face
  font-family pt_sans
  src url('fonts/PT-Sans-Narrow/PTN57F-webfont.eot')
  src url('fonts/PT-Sans-Narrow/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/PT-Sans-Narrow/PTN57F-webfont.woff') format('woff'),
      url('fonts/PT-Sans-Narrow/PTN57F-webfont.ttf') format('truetype'),
      url('fonts/PT-Sans-Narrow/PTN57F-webfont.svg#pt_sans') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family open_sans
  src: url('fonts/Open-Sans/OpenSans-Light-webfont.eot')
  src: url('fonts/Open-Sans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/Open-Sans/OpenSans-Light-webfont.woff') format('woff'),
       url('fonts/Open-Sans/OpenSans-Light-webfont.ttf') format('truetype'),
       url('fonts/Open-Sans/OpenSans-Light-webfont.svg#open_sans') format('svg');
  font-weight normal
  font-style normal

@font-face
  font-family lato
  src url('fonts/Lato/lato-regular-webfont.eot')
  src url('fonts/Lato/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('fonts/Lato/lato-regular-webfont.woff') format('woff'),
      url('fonts/Lato/lato-regular-webfont.ttf') format('truetype'),
      url('fonts/Lato/lato-regular-webfont.svg#lato') format('svg')
  font-weight normal
  font-style normal

// color scheme

// blue = #0E3C56
blueNormal = #1C79AE
blueDark = #1A6F9F
blueLight = #218ECB

// orange = #EF6100
orangeNormal = #EF6100
orangeDark = #de5a00
orangeLight = #ff7212


// buttons

btn-brim(colorNormal)
  background-color: colorNormal
  border: none
  border-radius: 2px
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2)
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2)
  color: #fff
  font-family: lato, Helvetica, Arial, sans-serif
  font-size: 1.1rem
  font-weight: 700
  height: 34px;
  padding: 0 14px
  line-height: 34px
  letter-spacing: 1px
  text-transform: uppercase
  transition: opacity .2s linear
  &:hover
  &:focus
    opacity: 0.9
    color: @color

.btn-brim-blue
  btn-brim(blueNormal)

.btn-brim-orange
  btn-brim(orangeLight)

// functions
rotate-img(angle)
  angle = unit(angle, deg)
  -moz-transform: rotate(angle)
  -webkit-transform: rotate(angle)
  -o-transform: rotate(angle)
  -ms-transform: rotate(angle)
  transform: rotate(angle)

round-border(size)
  size = unit(size, px)
  border-radius: size
  -moz-border-radius: size
  -webkit-border-radius: size
  -o-border-radius: size
  -ms-border-radius: size

numbered-list()
  counter-reset: li
  margin-left: 0px
  padding-left: 0px
  li
    position: relative
    margin: 0 0 6px 2em
    padding: 4px 25px
    list-style: none
    &:before
      content: counter(li)
      counter-increment: li
      position: absolute
      top: 4px
      left: -10px
      -moz-box-sizing: border-box
      -webkit-box-sizing: border-box
      box-sizing: border-box
      width: 25px
      height: 25px
      border-radius: 25px
      line-height: 25px
      margin-right: 30px
      color: #fff
      background-color: #5cb3e5
      font-weight: bold
      text-align: center

// custom style on specific bootstrap ui elements
// form
.form-landing-page
  margin-top: 30px
  .form-control
    border-radius: 0px
  .error-block
    color: #b94a48
    font-size: .8em

// page layout and other styling
.header-navigation
  background: url('../img/furley_bg.png')
  .brand
    font-family: pt_sans, Helvetica, Arial, sans-serif
    letter-spacing: .8px
    margin: 20px 0
    cursor: pointer
    text-transform: uppercase

.em
  font-weight: bold

.main
  font-family: open_sans, Helvetica, Arial, sans-serif
  min-height: 400px
  .main-header
    text-align: center
    h1
      color: #555
      font-family: lato
      line-height: 1.3
  .main-content
    ol
      font-size: 1.5rem
      numbered-list()
    p:first-child
      color: #737373
      font-size: 2.2rem
      font-weight: 300
    .arrow
      text-align: center
      img
        margin: -5px 0 9px
        rotate-img(5)
  .btn-holder
    text-align: center
  .main-content-thankyou
    text-align: center
    p
      color: #737373
      font-size: 1.3em
  .prices
    float: left
    margin-right: 5px
    min-width: 187px
    width: 47%
    .price-label
    .price-details
      round-border(5)
    .price-label
      background-color: #1a6f9f
      color: #fff
      margin: 10px 0 5px
      padding: 5px 20px 7px
      text-align: center
      .price-tag
        h2
          border-bottom: 1px solid rgba(48, 159, 221, 0.6)
          font-family: lato, Helvetica, Arial, sans-serif
          font-size: 1.5em
          margin: 10px 0px 5px
          text-transform: capitalize
          text-align: left
        p
          margin-bottom: 0
        .currency
        .terms
        .price
          display: inline-block
        .currency
          font-size: 2.2em
          position: relative
          bottom: 25px
        .price
          margin-left: -9px
          font-family: lato, Helvetica, Arial, sans-serif
          letter-spacing: -2px
          font-size: 4.5em
        p:last-child
          border-top: 1px solid rgba(48, 159, 221, 0.6)
          font-size: 0.9em
          margin-bottom: 3px
          padding-top: 7px
          text-align: left
        .terms
          margin-left: -6px
    .price-details
    .cta
      padding: 9px 20px
      text-align: center
    .price-details
      background-color: #e5e5e5
      color: #333
      margin-bottom: 5px
      p
        margin: 0
      .none
        text-decoration: line-through

.footer
  color: rgba(4, 19, 28, 0.3)
  font-size: 0.9em
  margin-top: 90px
  .footer-inner
    border-top: 1px solid @color
    padding: 5px 0
    a
      color: inherit
      font-size: 1.6em
      &:hover
      &:focus
        color: blueLight